.Xauthority
.advance/
.android/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.codeium/
.config/.gsd-keyboard.settings-ported
.config/Code/
.config/GNOME-xdg-terminals.list
.config/QQ/
.config/QtProject.conf
.config/alacritty/
.config/autostart/
.config/background
.config/cni/
.config/containers/
.config/dconf/
.config/evolution/
.config/fcitx/
.config/fcitx5/
.config/fontconfig/
.config/gnome-control-center/
.config/gtk-3.0/
.config/gtk-4.0/
.config/hikari/
.config/ibus/
.config/lazygit/
.config/microsoft-edge/
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/nnn/
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/pulse/
.config/qBittorrent/
.config/river/
.config/spectrwm/
.config/sway/
.config/swaylock/
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xdg-terminals.list
.config/zed/
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.dbus/
.dotnet/
.fonts/
.gitconfig
.gnupg/
.inputrc
.java/
.lesshst
.local/share/CMakeTools/
.local/share/Trash/
.local/share/applications/mimeapps.list
.local/share/applications/org.gnome.Shell.Wayland.desktop
.local/share/applicationsbak/
.local/share/backgrounds/
.local/share/bash-completion/
.local/share/containers/
.local/share/evolution/
.local/share/fcitx5/
.local/share/fish/
.local/share/gedit/
.local/share/glances/
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/
.local/share/go/
.local/share/gvfs-metadata/
.local/share/history
.local/share/icc/
.local/share/keyrings/
.local/share/man/
.local/share/meld/
.local/share/meson/
.local/share/mime/
.local/share/nautilus/
.local/share/nvim/
.local/share/org.gnome.TextEditor/
.local/share/pkgconfig/
.local/share/qBittorrent/
.local/share/recently-used.xbel
.local/share/river-protocols/
.local/share/todos/
.local/share/vlc/
.local/share/xorg/
.local/share/zed/
.local/share/zsh/
.local/state/
.mozilla/
.npm/
.pki/
.python_history
.rustup/
.spectrwm.conf
.ssh/
.sys1og.conf
.viminfo
.viminfo.tmp
.vimspector.json
.vscode-oss/
.vscode/
.wget-hsts
.xinitrc
Downloads/
github-classroom/
music/
swap
\344\270\213\350\275\275/
\346\226\207\346\241\243/
