.Xauthority
.advance/
.android/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.codeium/
.config/.gsd-keyboard.settings-ported
.config/Code/
.config/GNOME-xdg-terminals.list
.config/QQ/
.config/QtProject.conf
.config/alacritty/
.config/autostart/
.config/background
.config/cni/
.config/containers/
.config/dconf/
.config/evolution/
.config/fcitx/
.config/fcitx5/
.config/fontconfig/
.config/gnome-control-center/
.config/gtk-3.0/
.config/gtk-4.0/
.config/hikari/
.config/ibus/
.config/lazygit/
.config/microsoft-edge/
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/nnn/
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/pulse/
.config/qBittorrent/
.config/river/
.config/spectrwm/
.config/sway/
.config/swaylock/
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xdg-terminals.list
.config/zed/
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.dbus/
.dotnet/
.fonts/
.gitconfig
.gnupg/
.inputrc
.java/
.lesshst
.local/
.mozilla/
.npm/
.pki/
.python_history
.rustup/
.spectrwm.conf
.ssh/
.sys1og.conf
.viminfo
.viminfo.tmp
.vimspector.json
.vscode-oss/
.vscode/
.wget-hsts
.xinitrc
Downloads/
github-classroom/
music/
swap
.config/LarkShell/
.config/Hyprland-xdg-terminals.list
Pictures/
